[submodule "lahinroondev/themes/hugo-coder"]
	path = lahinroondev/themes/hugo-coder
	url = https://github.com/luizdepra/hugo-coder.git
[submodule "lahinroondev/public"]
	path = lahinroondev/public
	url = https://github.com/lahinroon/lahinroon.github.io.git
	branch = main
[submodule "lahinroondev/themes/anubis"]
	path = lahinroondev/themes/anubis
	url = https://github.com/mitrichius/hugo-theme-anubis.git
